<div class="drag-boundary" #myBounds>
  <div ngDraggable [hidden]="!isOpen"
  class="app-chatbot-window drag-block"
  [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }"
  [ngDraggable]="draggable"
  (edge)="checkEdge($event)"
  [bounds]="myBounds"
  [inBounds]="inBounds">
  <div class="scrollBox" #scrollMe>
    <div class="topBarHolder noselect">
      <div class="topBar">
        <div class=""></div>
        <div class="topBarTxt">OATIS</div>
        <div>
          <button  (click)="handlePopUp()" class="closeArrow"><img src="assets/img/close.svg" alt="close" /></button>
        </div>
      </div>
    </div>
    <div class="content-table">
      <div class="contentBox">
        <div *ngFor="let text of prevTexts" [innerHTML]="text.val" [ngClass]="{'user': text.isUser, 'bot': !text.isUser, 'card': text.isCard}">
        </div>
      </div>
    </div>
  </div>
<div class="autoBubbles">
  <div *ngFor="let bubble of prevTexts[prevTexts.length-1].bubbles">
      <div (click)="addChat(bubble.val, true, [])"  class="bubble">
        {{bubble.val}}
      </div>
  </div>
</div>
    <div class="inputHolder">
      <input #box (keyup.enter)="addChat(box.value, true)" [(ngModel)]="inputText" placeholder="Say Something ..."/>
      <button (click)="handleMic()" class="microphone">
        <img src="assets/img/{{(!recognizing) ? 'microphone' : 'circle'}}.svg" class="microphone" alt="close" />
      </button>
    </div>

  </div>
    <button (click)="handlePopUp()" [hidden]="isOpen" class="fixed-chatIcon">
    <span *ngIf="notifications.length > 0">
      {{(notifications.length > 0) ? notifications.length:""}}
    </span>
    <div>
      {{(notifications.length > 0) ? notifications[0].val : "Oatis here! Is there anything I can help you with?"}}
    </div>

  </button>
</div>
