<div class="drag-boundary" #myBounds>
  <div ngDraggable [hidden]="!isOpen"
  class="app-chatbot-window drag-block"
  [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }"
  [ngDraggable]="draggable"
  (edge)="checkEdge($event)"
  [bounds]="myBounds"
  [inBounds]="inBounds">
  <div class="scrollBox">
    <div class="topBarHolder">
      <div class="topBar">
        <div class=""><img  (click)="handlePopUp()" src="assets/img/close.svg" class="closeArrow" alt="close"></div>
        <div class="topBarTxt">OATIS</div>
        <div></div>
      </div>
    </div>
    <div class="contentBox">
       <p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
<p>text here</p>
    </div>
  </div>
<div class="autoBubbles">
      <div>
        <div class="bubble"></div>
      </div>
      <div>
        <div class="bubble"></div>
      </div>
      <div>
        <div class="bubble"></div>
      </div>
    </div>
    <div class="inputHolder">
      <input placeholder="Say Something ..."/>
    </div>

  </div>
    <div (click)="handlePopUp()" [hidden]="isOpen" class="fixed-chatIcon">
    5
  </div>
</div>
