html {
-x-font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
display: block; }

audio,
canvas,
progress,
video {
display: inline-block;
vertical-align: baseline; }

audio:not([controls]) {
display: none;
height: 0; }

[hidden],
template {
display: none; }

a {
background: transparent; }

a:active,
a:hover {
outline: 0; }

abbr[title] {
border-bottom: 1px dotted; }

b,
strong {
font-weight: bold; }

dfn {
font-style: italic; }

h1 {
font-size: 2em;
margin: 0.67em 0; }

mark {
background: #ff0;
color: #000; }

small {
font-size: 80%; }

sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline; }

sup {
top: -0.5em; }

sub {
bottom: -0.25em; }

img {
border: 0; }

svg:not(:root) {
overflow: hidden; }

figure {
margin: 1em 40px; }

hr {
-moz-box-sizing: content-box;
box-sizing: content-box;
height: 0; }

pre, xmp {
overflow: auto; }

code,
kbd,
pre,
xmp,
samp {
font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
color: inherit;
font: inherit;
margin: 0; }

button {
overflow: visible; }

button,
select {
text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
-webkit-appearance: button;
cursor: pointer; }

button[disabled],
html input[disabled] {
cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0; }

input {
line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
box-sizing: border-box;
padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
height: auto; }

input[type="search"] {
-webkit-appearance: textfield;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none; }

fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em; }

legend {
border: 0;
padding: 0; }

textarea {
overflow: auto; }

optgroup {
font-weight: bold; }

table {
border-collapse: collapse;
border-spacing: 0; }

td,
th {
padding: 0; }

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
outline:none; }

*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }

html {
font-size: 10px;
-webkit-tap-highlight-color: transparent; }

body {
font-size: 13px;
line-height: 1.42857;
color: #343d47;
background-color: #fff;
 }

input,
button,
select,
textarea {
font-family: inherit;
font-size: inherit;
line-height: inherit; }

a {
color: #278efc;
text-decoration: none; }
a:hover, a:focus {
color: #278efc;
text-decoration: underline; }
a:focus {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px; }

figure {
margin: 0; }

img {
vertical-align: middle; }

button {background-color: rgba(255, 255, 255, 0.45);border: 1px solid #bdc0c4;color: #343d47;line-height: 1.42857;min-width: 2.25em;min-width: auto\9;min-height: 2.25em;min-height: auto\9;font-weight: normal;padding: 6px 9px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
button:hover {
-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px; }

.app-chatbot-window {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0, .2);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.42857;
  font-family: 'Roboto', sans-serif !important;
  font-size:13px;
  position:absolute;
  width: 265px;
  height: 450px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,ffffff+23,ffffff+53,ffffff+82,ededed+100 */
background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 23%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 82%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 23%,rgba(255,255,255,1) 53%,rgba(255,255,255,1) 82%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(255,255,255,1) 23%,rgba(255,255,255,1) 53%,rgba(255,255,255,1) 82%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  right: 130px;
overflow:hidden;
}

.drag-boundary{
  width: 100%;
  height: 450px;
  position: fixed;
  right: 0;
  bottom: 0;
}

.fixed-chatIcon{
  text-align:left;
  border: none !important;
  cursor: pointer;
  line-height: 1.3;
  color: #343d47;
  font-family: 'Roboto', sans-serif !important;
    font-size:12px;
    position: absolute;
    border-radius: 5px;
    max-width: 308px;
    height: 40px;
    padding: 5px 5px 5px 40px;
    background-color: #fff;
    right: 0;
    bottom: 9px;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0, 0.45);
  margin-right:5px;
}
.fixed-chatIcon:hover{
  box-shadow: 0px 0px 9px 0px rgba(0,0,0, 0.45);
  margin-right:7px;
}

.fixed-chatIcon:before{
  display: inline;
  content: "";
  height:25px;
  width:25px;
  position: absolute;
  top:8px;
  left: 5px;
  background: #fff url("/assets/img/bot.png") no-repeat;
  background-size: cover;
}
.topBarHolder{
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding:0;
  margin:0;
  width:100%;
  height: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0, .2);
  overflow: hidden;
  cursor:move;
  z-index: 5;
}
.topBarTxt{
  color:#444c64;
  position:relative;
  width:100%;
  text-align:center;
  font-size: 14px;
  font-weight:500;
  top: 5px;
}
.topBar{
  backdrop-filter: blur(10px);
  padding:0;
  margin:0;
  width:100%;
  height:30px;
  background: white;
  background-color: rgba(255,255,255,0.65);
  display: table;
}
.topBar > div {
  display: table-cell;
  width: 33%;
}

[hidden]{
  display: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

button.closeArrow, button.microphone{
  background-color: rgba(255, 255, 255, 0.0) !important;
  border: none !important;
  cursor: pointer;
}
button.closeArrow:hover , button.microphone:hover{
  background-color: rgba(255, 255, 255, 0.0);
  border: none;
  box-shadow: 0 0 !important;
}

button.closeArrow{
  position: absolute;
  right: 5px;
}

button.microphone{
  opacity: .7;
  position: absolute;
  top: 7px;
  right: 4px;
  margin-right: 5px;
}

button.microphone:before{
  content: "|";
  display: inline;
  padding-right: 5px;
  opacity: .5;
  font-size: 21px;
  position: absolute;
  top: 0px;
  left: -2px;

}



div.scrollBox {
  overflow-x: hidden;
  overflow-y: auto;
  height: 78%;
  width: 100%;
}

div.scrollBox::-webkit-scrollbar {
  width: 4px;
  border: none;
  background-color: #fff;
  background: transparent;  /* optional: just make scrollbar invisible */
}

div.scrollBox::-webkit-scrollbar-thumb {
  border: none;
  background-color: #c3c3c3;
  border-radius:10px;
}
div.scrollbox::-webkit-scrollbar-track {
  background-color: #fff;
  box-shadow: none !important;
}
.scrollBox[_ngcontent-c2]::-webkit-scrollbar-track{
  box-shadow: none !important;
}

.inputHolder {
  height: 15%;
  padding: 4px 9px 25px 9px;
  position:relative;
}

input{
  box-sizing: border-box;
  padding: 0 15px;
  width:100%;
  height:100%;
  border-radius: 5px;
  border:0;
  box-shadow: 4px 4px 11px 0px rgba(0,0,0, .15);
  padding-right: 40px;
}

.scrollBox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fff;
}

.autoBubbles{
  overflow:scroll;
  overflow-y:hidden;
  white-space: nowrap;
  margin-top: 5px;
  margin-left:12px;
  margin-right:12px;
  height: 5%;
}
.autoBubbles > div {
  display: inline-block;
  height: 86%;
}
.bubble {
  padding-top:3px;
  font-size:11px;
  color:white;
  text-align:center;
  border-radius: 15px;
  background-color: #645cfc;
  height: 100%;
  margin-right: 7px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.bubble .chatIcon{

}

.autoBubbles::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    display: none;
}
/* optional: show position indicator in red */
.autoBubbles::-webkit-scrollbar-thumb {
    background: #FF0000;
    display: none;
}

div.content-table{
  display: table;
  width: 100%;
  height: 100%;
  z-index: -5;
  padding-top: 35px;
}

div.contentBox{
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: bottom;
}

div.contentBox div{
  max-width: 186px;
  font-size:12px;
  padding: 6px 18px;
  border-radius: 10px;
  margin: 15px;
  color: white;
  text-align: left;
  max-height: 200px;
}

div.contentBox a, div.contentBox a:visited{
  color: #fcbc04;
  text-decoration: underline;
}

div.contentBox div.user{
  background-color: #7c849c;
  margin-left: 50px;
  position: relative;
  margin-right: 25px;
}


div.contentBox div.bot{
  background-color: #5474fc;
  margin-right:50px;
  position:relative;
  padding-left: 24px;
  margin-left:25px;
}

div.contentBox div.bot:after, div.contentBox div.user:after{
  border:3px solid rgba(255,255,255,0.95);
  border-radius: 5px;
  display: inline;
  content: "";
  height:32px;
  width:32px;
  position: absolute;
  top: -20px;
  left: -15px;
  background: #fff url("/assets/img/bot.png") no-repeat;
  background-size: cover;
}


div.contentBox div.user:after{
  background: #fff url("/assets/img/astro.jpg") no-repeat;
  background-size: cover;
  right: -15px;
  left: auto;
}

div.contentBox div.bot.card{
  background-color: #fff;
  margin: 0;
  margin-left: 25px;
  padding: 0;
  max-height: none;
  max-width: 215px;
}

div.contentBox div.bot.card:after{
  display: none;
}

img.microphone{
  width:20px;
}

button p{
  position: absolute;
  top: 9px;
  right: 4px;
  font-size: 20px;
}

button.fixed-chatIcon div{
  float: left;
  max-width: 225px;
}

button.fixed-chatIcon span{
  background-color: #fc4c9c;
    font-size: 10px;
    position: relative;
    color: white;
    padding: 3px 6px;
    border-radius: 15px;
    top: 7px;
}
